<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <title>トップページ|RareTECHLove</title>
</head>

<body>
  <div class="container common">
    <header>
      <div class="header_inner">
        <div class="header_img">
          <img src="img/logo3.svg" alt="RareTECHLove">
        </div>
        <div class="search">
          <p>記事番号質問検索</p>
          <input type="text">
          <a href="search.html"><input type="submit" value="&#xf002;" class="search-button"></a>
        </div>
      </div>
    </header>
    <div class="content">
      <main>
        <div class="main_box">
          <div class="news box">
            <p class="title">新着情報</p>
            <ul>
              <li><span class="cat">サイト開設</span><time class="time" datetime="">2020/8/18</time><span>サイトを開設しました</span>
              </li>
              <li><span class="cat">サイト開設</span><time class="time" datetime="">2020/8/18</time><span>機能を追加しました。詳しくは<a
                    href="st.html">こちら</a></span>
              </li>
            </ul>
          </div>

          <div class="question box">
            <p class="title">新着質問</p>
            <ul>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
            </ul>
          </div>

        </div>
      </main>
      <aside>
        <div class="side_content">
          <p class="slack_name">slack name</p>
          <div class="name_box">
            <p>田中 太郎</p>
          </div>
          <nav>
            <ul>
              <li class="home current">トップページ</li>
              <li class="mypage"><a href="mypage.html">マイページ</a></li>
              <li class="logout"><a href="login.html">ログアウト</a></li>
            </ul>
          </nav>
        </div>
      </aside>
    </div>
  </div>
</body>

</html>
