<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <title>検索結果ページ|RareTECHLove</title>
</head>

<body>
  <div class="container common">
    <header>
      <div class="header_inner">
        <div class="header_img">
          <img src="img/logo3.svg" alt="RareTECHLove">
        </div>
        <div class="search">
          <p>記事番号質問検索</p>
          <input type="text">
          <input type="submit" value="&#xf002;" class="search-button">
        </div>
      </div>
    </header>
    <div class="content">
      <main>
        <div class="main_box">
          <p class="title">記事番号「123456」の検索結果 1ページ目</p>
          <div class="question box">
            <ul>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
              <li>
                <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
                <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
              </li>
            </ul>
            <ul class="pagination">
              <li class="pre">前へ</li>
              <li class="this">1</li>
              <li><a href="index.html">2</a></li>
              <li><a href="index.html">3</a></li>
              <li><a href="index.html">次へ</a></li>
            </ul>
          </div>

        </div>
      </main>
      <aside>
        <div class="side_content">
          <p class="slack_name">slack name</p>
          <div class="name_box">
            <p>田中 太郎</p>
          </div>
          <nav>
            <ul>
              <li class="home"><a href="index.html">トップページ</a></li>
              <li class="mypage"><a href="mypage.html">マイページ</a></li>
              <li class="logout"><a href="login.html">ログアウト</a></li>
            </ul>
          </nav>
        </div>
      </aside>
    </div>
  </div>
</body>

</html>
