@charset "utf-8";

/*================================
	共通
=================================*/

@font-face {
  font-family: "rockville_solidregular";
  src: url("ßrockville_solid-webfont.woff2") format("woff2"), url("rockville_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  word-break: break-all;
}

.none {
  padding: 10px;
}

.sp {
  display: none;
}

header aside {
  display: none;
}

.pc {
  display: block;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

html,
body,
.container {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", "Noto Sans JP", "游ゴシック体", "Yu Gothic", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  padding: 0;
  margin: 0;
}

.content .breadcrumbs{
  margin:0px 0 30px;
  padding:15px;
  position:relative;
  background:#fff;
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
}
.content .breadcrumbs ul{
  display:flex;
}
.content .breadcrumbs ul li:first-child{
  padding-left:0;
}

.content .breadcrumbs ul li:first-child::before{
  display:none;
}

.content .breadcrumbs ul li::before{
    content:'';
    position:absolute;
    top:5px;
    left: 6px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #222121;
    border-right: 2px solid #222121;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content .breadcrumbs ul li{
  list-style:none;
  position:relative;
  padding-left:20px;
  position:relative;
  font-size:14px;
  line-height:1.5;
}

.content .breadcrumbs ul li:last-child{
    width:80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .breadcrumbs ul li a{
  color:#2d3d9b;
  text-decoration:none;
  font-weight:600;
  font-size:14px;
}

/*================================
	header
=================================*/

header {
  background: #292929;
  border-bottom: 1px dotted #3a3a3a;
  padding: 0px 50px 0 20px;
  position: fixed;
  width: calc(100% - 300px);
  right: 0;
  z-index: 2;
  min-height: 80px;
  box-shadow: 0 0 30px #111010 inset;
}

.header_inner {
  padding: 15px;
}

.header_inner .flex{
  display:flex;
  align-items;cent3er;
}

.header_inner .logo{
  max-width:200px;
}


.header_inner .search {
  display: flex;
  color: #fff;
  align-items: center;
  width: 310px;
  margin-left: auto;
  padding-top: 8px;
  box-shadow: 3px 3px 10px #141313;
}
.header_inner .search p {
  margin-right: 0px;
  background: #6f6b6b;
  padding: 11.5px 12px;
  letter-spacing: 1.5px;
  font-size: 12px;
}
select.selectbox {
  padding: 9px 8px;
  border: none;
  width: 65px;
  border-right: 1px solid #b7b7b7;
  background: #e4e4e4;
}

.header_inner .search input {
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  margin: 0;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  width: 100px;
}

.header_inner .search .search-button {
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
  outline: none;
  color: #757171;
  text-shadow: rgba(255, 255, 255, 0.2);
  width: 100%;
  background: #e4e4e4;
  border-radius: 0;
  width: 40px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #c9bbbb;
  font-family: "Font Awesome 5 Free";
  transition: color 0.3s ease 0s;
}

/*================================
  ログイン後の共通画面
=================================*/

.content {
}

main {
  order: 2;
  background: #f0f0f0;
  width: calc(100% - 300px);
  top: 75px;
  position: relative;
  z-index: 1;
  /* z-index: -1; */
  margin-left: 300px;
}

.first_input main {
  width: 100%;
  top: 0;
  margin-left: 0;
}

aside {
  order: 1;
  width: 300px;
  background: #282828;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: fixed;
  top: 0;
}

.errorlist li {
  list-style: none;
  margin-bottom: 20px;
  color: #6f1a14;
  font-weight: 600;
  line-height: 1.5;
}

/*================================
	共通メニュー、共通CSS
=================================*/

main .main_box {
  padding: 70px;
}

main .main_box .box {
  padding: 50px;
  margin: 0 auto 70px;
  background: #fff;
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
}

main .main_box .box.tab {
  padding: 0;
}

main .main_box .title::first-letter {
  font-size: 50px;
  color: #ad2429;
}

main .main_box .title {
  font-size: 23px;
  color: #666;
  font-weight: 600;
  padding: 5px 0;
  margin-bottom: 20px;
  font-family: "New Tegomin", serif;
  position: relative;
  line-height:1.5;
}

main .main_box .title::before {
  content: attr(data-text) "";
  position: relative;
  top: 0;
  left: 0;
  padding-right: 30px;
  font-family: "rockville_solidregular";
  font-size: 30px;
}

main .main_box .title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #bbb;
  background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
  background-image: -moz-linear-gradient(left, #eee, #777, #eee);
  background-image: -ms-linear-gradient(left, #eee, #777, #eee);
  background-image: -o-linear-gradient(left, #eee, #777, #eee);
}

aside .side_content .side_img {
  max-width: 230px;
  margin-left: 30px;
  margin-top: 15px;
  padding-top: 8px;
}

aside .side_content .side_img img {
  filter: blur(0.3px) brightness(90%);
}

aside .side_content .slack_name {
  color: #dadada;
  margin: 20px 20px 0;
  filter: blur(0.3px);
}

aside .side_content {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
}

aside .side_content .name_box {
  background: #e4e4e4;
  color: #13182f;
  text-align: center;
  padding: 15px 10px;
  border-radius: 4px;
  font-weight: 500;
  filter: blur(0.3px);
  font-size: 18px;
  margin: 10px 20px 20px;
  box-shadow: 0 0 5px 3px #b0aeae inset, 0 0 5px 1px #fff inset, 0 0 3px #1a1919;
}

aside .side_content nav {
}

aside .side_content nav ul {
}

aside .side_content nav ul li {
  padding: 0 20px 0 40px;
  font-size: 18px;
  margin-bottom: 5px;
}

aside .side_content nav ul li.current {
  color: #fff;
  padding: 20px 40px 20px 90px;
  position: relative;
}

aside .side_content nav ul li.current:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 40px;
  top: 14px;
  font-size: 25px;
}

aside .side_content nav ul li.home.current:before {
  content: "\f015";
}

aside .side_content nav ul li.mypage.current:before {
  content: "\f0c5";
}

aside .side_content nav ul li a {
  color: #969696;
  text-decoration: none;
  display: block;
  padding: 20px 20px 20px 50px;
  position: relative;
  transition: all 0.2s;
}

aside .side_content nav ul li a:hover {
  color: #fff;
}

aside .side_content nav ul li a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 5px;
  top: 14px;
  font-size: 25px;
}

aside .side_content nav ul li.home a:before {
  content: "\f015";
}

aside .side_content nav ul li.mypage a:before {
  content: "\f0c5";
}

aside .side_content nav ul li.logout {
  background: #212121;
  margin-top: auto;
}

aside .side_content nav ul li.logout a:before {
  content: "\f52b";
  left: 0;
}

/*================================
	質問装飾
=================================*/

.question {
  color: #666;
}

main .main_box .box.question_st {
  padding-top: 30px;
  border-top: 50px solid #8d2020;
}

.answer_st .answer p {
  font-weight: 400;
  font-size: 15px;
}

.answer_st .answer p a {
  color: #2c3d9c;
  text-decoration: none;
  font-weight: 600;
}

.answer_st .answer .time {
  font-weight: 400;
  margin: 8px auto;
  font-size: 14px;
}

.question_st .sub {
  display: flex;
  border-top: 1px solid #ccc;
  padding-top: 13px;
  position: relative;
}

.question_st .sub::before {
  /*   content: "\f02c"; */
  position: absolute;
  color: #6e6b6b;
  font-size: 14px;
  top: 5px;
  font-family: "Font Awesome 5 Free";
}

.question_st .sub .category {
  font-weight: 500;
  margin-right: 10px;
  font-size: 12px;
  /*   margin-left: 30px; */
  border: 1px solid #ccc;
  padding: 10px;
}

.question_st .sub .level {
  font-weight: 500;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 10px;
}

main .main_box .box.question_st .last_meta {
  display: flex;
}

main .main_box .box.question_st .last_meta .time {
  margin-left: auto;
  color: #8c8c8c;
  font-size: 14px;
  margin-top: 5px;
}

main .main_box .box.question_st .last_meta .sub {
}

.question_st .post_number {
  padding: 20px;
  line-height: 0px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #666666;
  border: 1px solid #dddbdb;
  border-radius: 2px;
  font-weight: 600;
  background: #f0f0f0;
}

.question_st a {
  text-decoration: none;
  color: #2c3d9c;
  font-size: 16px;
  padding: 0;
}

.answer_st {
  border-top: 20px solid #1d2c7f;
}

.question_st .post_number a {
  text-decoration: none;
  color: #666;
  font-size: 12px;
  padding: 0;
}

.question ul:not(.pagination) {
  margin-top: 50px;
}

.question ul:not(.pagination) li {
  list-style: none;
}

.question ul:not(.pagination) li {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 600;
}

.question .last_meta {
  display: flex;
  margin-top: 6px;
}

.question .last_meta .time {
  margin-left: auto;
}

.question .last_meta .sub {
  display: flex;
  position: relative;
}

.question .last_meta .sub::before {
  content: "\f02c";
  position: absolute;
  color: #6e6b6b;
  font-size: 14px;
  top: 5px;
  font-family: "Font Awesome 5 Free";
}

.question .last_meta .sub .category {
  font-weight: 500;
  margin-right: 10px;
  font-size: 12px;
  margin-left: 30px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.question .last_meta .sub .level {
  font-weight: 500;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.question .post_meta {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 8px;
}

.question .time {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
}

.question .post_meta .post_number {
  font-weight: 600;
}

.question .post_meta .post_number a {
  padding: 5px 8px 5px 13px;
  margin: 0;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #666666;
  border: 1px solid #dddbdb;
  border-radius: 2px;
  font-weight: 600;
  background: #f0f0f0;
}

.question .post_meta .respondent {
  vertical-align: middle;
  padding-top: 12px;
  font-size: 13px;
  font-weight: 400;
}

.question .post_meta .name {
  font-weight: 600;
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
}

.question ul:not(.pagination) li .post_meta .name a {
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-size: 13px;
  display: inline;
}

.question ul:not(.pagination) li a {
  color: #2c3d9c;
  text-decoration: none;
  font-weight: 600;
  display: block;
  margin: 8px 0 0;
  font-size: 15px;
  line-height: 2;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.question a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/*================================
	ページネーション
=================================*/

.pagination {
  margin: 50px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 45px;
  margin: 0 5px;
  text-align: center;
  border: 1px #ccc solid;
  color: #000053;
  padding: 0px;
  border-radius: 5px / 5px;
}

.pagination .pre {
  background-color: #ccc;
  color: #666;
}
.pagination .this {
  background-color: #777;
  color: #fff;
}
.pagination li a {
  display: block;
  color: #333;
  text-decoration: none;
}
.pagination li a:hover {
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  background-color: #777777;
}

/*================================
	トップページの項目
=================================*/

.news ul {
  margin-top: 30px;
}

.news li {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 15px;
}

.news li .cat {
  background: #666;
  color: #fff;
  margin-top: 0px;
  font-size: 12px;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  max-width: 100px;
  border-radius: 2px;
  text-align: center;
  margin-right: 10px;
  vertical-align: middle;
}

.news li span,
.news li time {
  display: block;
  padding: 0 10px 10px;
  line-height: 1.8;
}

.news li time {
  width: 98px;
}

/*================================
	マイページ
=================================*/

.number_box {
  display: flex;
  justify-content: space-around;
  color: #666;
}
.number_box p {
  font-size: 18px;
}
.number_box p.big {
  margin-top: 10px;
  font-size: 100px;
  font-weight: 600;
}

.number_box p.big span {
  font-size: 50px;
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  margin: 0 auto;
}

.tab_item {
  width: calc(100% / 2);
  height: 70px;
  background-color: #f0f0f0;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

#question_item:checked ~ #question_content,
#answer_item:checked ~ #answer_content {
  display: block;
}

.tabs input:checked + .tab_item {
  background-color: #ffffff;
}

/*================================
	スレッド
=================================*/

.question_st .meta_box {
  display: flex;
  justify-content: space-between;
  color: #454545;
  align-items: center;
  margin-top: 30px;
}

.question_st .meta_box .post_number,
.answer_st .answer {
  font-weight: 600;
  font-size: 16px;
}


.question_st .meta_box p {
  font-size: 16px;
  margin: 0;
}

.question_st > p,
.answer_st > p {
  font-size: 16px;
  line-height: 1.8;
  margin: 20px 0;
  color: #454545;
}

.question_st > p {
}

.question_st .meta_box .name {
  font-weight: 600;
}

.answer_st .answer {
  border-bottom: 1px solid #e7e7e7;
  text-align: right;
  margin-bottom: 30px;
}

/*================================
	ログイン画面の背景
=================================*/

html.first,
html.first body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background: #191d1e; /* Old browsers */
  background: -moz-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(50%, #191d1e),
    color-stop(100%, #283139)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #191d1e 50%, #283139 100%); /* IE10+ */
  background: linear-gradient(0deg, #191d1e 50%, #283139 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed;
}

#projector {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.center-div {
  width: 580px;
  height: 374px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -290px;
  margin-top: -187px;
}

#preloaderDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

#logo {
  opacity: 0;
  filter: alpha(opacity=0);
}

#date2014 {
  position: absolute;
  padding-left: 210px;
  padding-top: 15px;
  opacity: 0;
  top: 303px;
  left: 0;
  filter: alpha(opacity=0);
}

/*================================
	ログイン画面
=================================*/

.first_input main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  background: none;
}

.first_input_form {
  max-width: 500px;
  margin: 0px auto;
  min-height: 400px;
  padding: 50px;
  border: 1px solid rgb(255 255 255 / 32%);
  background: #e0e0e044;
}

.first_input_form input {
  background: rgb(255, 255, 255, 0.5);
  display: block;
  padding: 15px 10px;
  border: none;
  width: 100%;
  margin: 20px 0;
}

.first_input_form input::placeholder {
  color: #223438;
  font-size: 18px;
}

.first_input_form img {
  max-width: 300px;
  display: block;
  margin: 0 auto 40px;
  filter: blur(1px) saturate(40%) contrast(200%);
}

.dec {
  display: flex;
  justify-content: flex-end;
}

.dec .btn {
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  display: block;
  color: rgb(212, 211, 211);
  background: rgb(129 116 16);
}

.dec .btn:hover {
  opacity: 0.7;
}

.first_input_form .btn2 {
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #bfbfbf;
  border: none;
  margin-top: 25px;
  margin-bottom: 20px;
}

.first_input_form p {
  padding: 10px;
  color: rgb(212, 211, 211);
}

.first_input_form p {
  padding: 0;
  font-size: 14px;
}

.first_input_form .dec p {
  padding-top: 10px;
}

@media screen and (max-width: 1200px) {
  .pc {
    display: none;
  }
  .content .breadcrumbs{
    margin-top:20px;
  }

  aside .side_content .side_img{
    max-width:260px;
  }

  .sp {
    display: block;
  }
  header aside {
    display: block;
    width: 100%;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #282828;
    transition: all 0.5s; /*アニメーション設定*/
  }
  .menu-content > ul {
    padding: 70px 10px 0;
  }
  .menu-content > ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content > ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }

  #menu-btn-check:checked ~ .menu-content {
    left: 0; /*メニューを画面内へ*/
  }

  #menu-btn-check {
    display: none;
  }

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #292929;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0); /*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .content {
    flex-direction: column;
  }

  .first_input_form .dec p {
    padding-top: 0;
  }

  body {
  }

  main {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    padding: 50px;
  }

  header {
    max-width: 100%;
    width: 100%;
  }

  main .main_box {
    padding: 20px;
  }

  .content aside {
    display: none;
  }

  .first_input main {
    padding: 0 20px;
  }
  .dec {
    flex-direction: column;
  }

  .dec .btn {
    margin: 20px 0;
    padding: 18px 10px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {

.header_inner .flex{
    flex-direction:column;
  }

  .header_inner .logo{
    display:none;
  }

  main{
    padding:0
  }
main .main_box .title::first-letter{
  font-size:30px;
}
  main .main_box .title{
    font-size: 20px;
  }
  main .main_box .title::before{
    font-size:15px;
  }
  .news li{
    flex-direction:column;
  }
  .news li .cat{
    margin-bottom:20px;
  }

  .question .post_meta,.question .last_meta{
    flex-direction:column;
  }
  .question .last_meta .time{
    margin-top:15px;
  }
  .number_box p.big{
    font-size:50px;
  }
  .number_box p.big span{
    font-size:30px;
  }
  .question_st .meta_box{
    flex-direction:column;
    align-items:start;
  }
  .question_st .meta_box .post_number{
    width:100%
  }

  .question_st .meta_box p{
    margin:10px 0;
    margin-left:auto;

  }

}
