{% load static %}
<aside>
  <div class="side_content">
    <div class="side_img">
      <img src="{% static 'raretechloveapp/img/logo3.svg' %}" alt="RareTECHLove">
    </div>
    <p class="slack_name">slack name</p>
    <div class="name_box">
      <p>田中 太郎</p>
    </div>
    <nav>
      <ul>
        <li class="home current">トップページ</li>
        <li class="mypage"><a href="mypage.html">マイページ</a></li>
        <li class="logout"><a href="login.html">ログアウト</a></li>
      </ul>
    </nav>
  </div>
</aside>
