{% load static %}
<aside>
  <div class="side_content">
    <div class="side_img">
      <img src="{% static 'raretechloveapp/img/logo3.svg' %}" alt="RareTECHLove">
    </div>
    <p class="slack_name">slack name</p>
    <div class="name_box">
      <p>{{ request.user }}</p>
    </div>
    <nav>
      <ul>
        {% if r == 'index' %}
        <li class="home current">トップページ</li>
        {% else %}
        <li class="home"><a href="{% url 'index' %}">トップページ</a></li>
        {% endif %}
        {% if r == 'mypage' %}
        <li class="mypage current">マイページ</li>
        {% else %}
        <li class="mypage"><a href="{% url 'mypage' %}">マイページ</a></li>
        {% endif %}
        <li class="logout"><a href="{% url 'logout' %}">ログアウト</a></li>
      </ul>
    </nav>
  </div>
</aside>
