{% load static %}
{% include 'raretechloveapp/head.html' %}
{% include 'raretechloveapp/header.html' %}
<main>
  <div class="main_box">
    <div class="news box">
      <p class="title" data-text="NEWS">- 新着情報 -</p>
      <ul>
        <li><span class="cat">衝撃</span><time class="time"
            datetime="">2020/9/2</time><span>講師に後ろから刺されるという衝撃を受ける。獅子の子落としとはこのことを言うのか。
          </span>
        </li>
        <li><span class="cat">サイト開設</span><time class="time" datetime="">2020/9/15</time><span>記事ノックについては載せる予定でしたが<a
              href="https://portal.raretech.site/" target='_blank'>こちら</a>に移動しました！<br>ぜひ楽しんでくださいね！</span>
        </li>
      </ul>
    </div>

    <div class="question box">
      <p class="title" data-text="QUESTION">- 新着質問 -</p>
      <ul>
        {% for new in news %}
        <li>
          <div class="post_meta"><span class="post_number"><a
                href="{{new.article_cd.article_url}}">記事番号【{{new.article_cd.id}}】</a></span>
            <span class="respondent">質問者<span class="name"><a
                  href="/mypage?uname={{new.user_cd.id}}">{{new.user_cd.slack_name}}</a></span></span>
          </div>
          <a href="/post?ts_cd={{ new.ts_cd }}">{{new.question_thread}}</a>
          <div class="last_meta">
            <div class="sub">
              <div class="category">{{new.article_cd.category}}</div>
              <div class="level">{{new.article_cd.level}}</div>
            </div>
            <div class="time ts">{{new.ts}}</div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</main>
{% include 'raretechloveapp/aside.html' %}
{% include 'raretechloveapp/footer.html' %}
