<ul>
  <li>
    <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
    <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
  </li>
  <li>
    <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
    <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
  </li>
  <li>
    <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
    <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
  </li>
  <li>
    <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
    <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
  </li>
  <li>
    <div class="post_meta"><span class="post_number">記事番号【123456】</span><span class="respondent
">回答者<span class="name">田中太郎</span></span></div>
    <a href="st.html">RareTECHで質問をする勇気がないのですが、どうすれば質問ができるようになるのでしょうかという意味不明な質問を...</a>
  </li>
</ul>
