{% load static %}
{% include 'raretechloveapp/head.html' %}
{% include 'raretechloveapp/header.html' %}
<main>
  <div class="main_box">
    <div class="number box">
      <p class="title">{{my_slack_name}}</p>
      <div class="number_box">
        <div class="question_box">
          <p>質問数</p>
          <p class="big">{{question_count}} <span>件</span></p>
        </div>
        <div class="answer_box">
          <p>回答数</p>
          <p class="big">{{answer_count}}<span>件</span></p>
        </div>
      </div>
    </div>

    <div class="question tab box">
      <div class="tabs">
        <input id="question_item" type="radio" name="tab_item" checked>
        <label class="tab_item" for="question_item">新着質問</label>
        <input id="answer_item" type="radio" name="tab_item">
        <label class="tab_item" for="answer_item">新着回答</label>
        <div class="tab_content" id="question_content">
          <ul>
            {% for new in news %}
            <li>
              <div class="post_meta"><span class="post_number">記事番号【{{new.article_cd}}】</span>
                <span class="respondent">質問者<span class="name">{{new.user_cd}}</span></span>
              </div>
              <a href="/post?ts_cd={{ new.ts_cd }}">{{new.question_thread}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab_content" id="answer_content">
          <ul>
            {% for new in news2 %}
            <li>
              <div class="post_meta"><span class="post_number">記事番号【{{new.article_cd}}】</span>
                <span class="respondent">質問者<span class="name">{{new.user_cd}}</span></span>
              </div>
              <a href="/post?ts_cd={{ new.ts_cd }}">{{new.question_thread}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>



    </div>

  </div>
</main>
{% include 'raretechloveapp/aside.html' %}
{% include 'raretechloveapp/footer.html' %}
