{% load static %}
{% include 'raretechloveapp/head.html' %}
{% include 'raretechloveapp/header.html' %}
<main>
  <div class="main_box">
    <div class="breadcrumbs">
      <ul>
        <li><a href="/">HOME</a></li>
        <li>- 記事番号「{{article_cd}}」かつ「{{user_slack_name}}」の検索結果 -</li>
      </ul>
    </div>
    <div class="question box">
      {% if article_cd == False and user_cd == False %}
      <p class="title" data-text="SearchRsult">- 全件検索結果 -</p>
      {% elif article_cd == False }
      <p class="title" data-text="SearchRsult">- 「{{user_slack_name}}」の検索結果 -</p>
      {% elif user_cd == '' }
      <p class="title" data-text="SearchRsult">- 記事番号「{{article_cd}}」の検索結果 - </p>
      {% else %}
      <p class="title" data-text="SearchRsult">- 記事番号「{{article_cd}}」かつ「{{user_slack_name}}」の検索結果 -</p>
      {% endif %}
      {% if count == 0 %}
      <p class="none">検索結果は見つかりませんでした</p>
      {% else %}
      <ul>
        {% for o in object_list %}
        <li>
          <div class="post_meta"><span class="post_number"><a href="{{o.article_cd.article_url}}"
                target='_blank'>記事番号【{{o.article_cd.id}}】</a></span>
            <!-- <span class="category">{{o.article_cd.category}}</span>
            <span class="level">{{o.article_cd.level}}</span> -->
            <span class="respondent">質問者<span class="name"><a
                  href="/mypage?uname={{new.user_cd.id}}">{{o.user_cd.slack_name}}</a></span></span>
          </div>
          <a href="/post?ts_cd={{ o.ts_cd }}">{{o.question_thread}}</a>
          <div class="last_meta">
            <div class="sub">
              <div class="category">{{o.article_cd.category}}</div>
              <div class="level">{{o.article_cd.level}}</div>
            </div>
            <div class="time ts">{{o.ts}}</div>
          </div>
        </li>
        {% endfor %}
      </ul>

      <ul class='pagination'>
        <!-- 前へ -->
        {% if page_obj.has_previous %}
        <li><a
            href="/search?user_cd={{user_cd}}&article_cd={{article_cd}}&page={{ page_obj.previous_page_number }}">前へ</a>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li>{{ i }}</li>
        {% else %}
        <li><a href="/search?user_cd={{user_cd}}&article_cd={{article_cd}}&page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        <!-- 次へ -->
        {% if page_obj.has_next %}
        <li><a href="/search?user_cd={{user_cd}}&article_cd={{article_cd}}&page={{ page_obj.next_page_number }}">次へ</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>

  </div>
</main>
{% include 'raretechloveapp/aside.html' %}
{% include 'raretechloveapp/footer.html' %}
