{% load static %}
{% include 'raretechloveapp/head.html' %}
{% include 'raretechloveapp/header.html' %}
<main>
  <div class="main_box">
    <p class="search_title" data-text="">記事番号{{article_cd}}の検索結果 1ページ目</p>
    <div class="question box">
      {% if count == 0 %}
      <p>検索結果は見つかりませんでした</p>
      {% else %}
      <ul>
        {% for o in object_list %}
        <li>
          <div class="post_meta"><span class="post_number"><a
                href="{{o.article_cd.article_url}}">記事番号【{{o.article_cd.id}}】</a></span>
            <!-- <span class="category">{{o.article_cd.category}}</span>
            <span class="level">{{o.article_cd.level}}</span> -->
            <span class="respondent
              ">質問者<span class="name">{{o.user_cd.slack_name}}</span></span>
          </div>
          <a href="/post?ts_cd={{ o.ts }}">{{o.question_thread}}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

  </div>
</main>
{% include 'raretechloveapp/aside.html' %}
{% include 'raretechloveapp/footer.html' %}
